{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="es">
<!-- Principal, de la que hereda nuestra otra base-->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap" rel="stylesheet">
    <title>{% block titulo %}{% trans "Top 100 de Música" %}{% endblock %}</title>
    
    <!-- Enlace a los archivos de Bootstrap para el carrusel -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
    <link rel="icon" href="{% static 'images/icon_music.ico' %}" type="image/x-icon">

    {% block javascript %}
    {% endblock %}
    
</head>
<body>
<!-- insertamos logo y navegador-->
<div class="wrapper">
    <header>
        <div class="logo-titulo">
            <img class="logo" src="{% static 'images/Logo_Music.png' %}" alt="Logo de Música">
            <h1 class="titulo">Top 100 de Música </h1>
        </div>
        <nav>
            <ul class="nav-titulos">
                <li><a href="{% url 'index' %}">{% trans "Inicio" %}</a></li> 
                <li><a href="{% url 'lista_canciones' %}">{% trans "Canciones" %}</a></li>
                <li><a href="{% url 'lista_estilos' %}">{% trans "Estilos" %}</a></li>
                <li><a href="{% url 'lista_interpretes' %}">{% trans "Intérpretes" %}</a></li>
                <!-- Selector de idioma al final del menú -->
                <li class="language-selector">
                    <form action="{% url 'set_language' %}" method="post">
                        {% csrf_token %}
                        <select name="language" onchange="this.form.submit()">
                            {% get_current_language as LANGUAGE_CODE %}
                            {% get_available_languages as LANGUAGES %}
                            {% for lang_code, lang_name in LANGUAGES %}
                                <option value="{{ lang_code }}" {% if lang_code == LANGUAGE_CODE %}selected{% endif %}>
                                    {{ lang_name }}
                                </option>
                            {% endfor %}
                        </select>
                    </form>
                </li>
            </ul>
        </nav>
    </header>
</div>
    <div class="contenido">
        {% block contenido %}
        <!-- Contenido de cada página -->
        {% endblock %}
    </div>

    <footer>
        <p>{% trans "© 2024 Top 100 de Música. Todos los derechos reservados." %}</p>
    </footer>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"></script>

</body>
</html>
