{% load static %}
<!DOCTYPE html>
<html lang="es">
<!-- Principal, de la que hereda nuestra otra base-->
<head>
<!-- Referenciamos al codigo static asi como css y imagenes para iconos..-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap" rel="stylesheet">
    <title>{% block titulo %}Top 100 de Música{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
    <link rel="icon" href="{% static 'images/icon_music.ico' %}" type="image/x-icon">
</head>
<body>
<!-- insertamos logo y navegador-->
<div class="wrapper">
    <header>
        <div class="logo-titulo">
            <img class="logo" src="{% static 'images/Logo_Music.png' %}" alt="Logo de Música">
            <h1 class="titulo">Top 100 de Musica</h1>
        </div>
        <nav>
        <ul class="nav-titulos">
            <li><a href="/appTop100Django/">Inicio</a></li>
            <li><a href="/appTop100Django/canciones/">Canciones</a></li>
            <li><a href="/appTop100Django/estilos/">Estilos</a></li>
            <li><a href="/appTop100Django/interpretes/">Intérpretes</a></li>
        </ul>
        </nav>
    </header>
</div>
    <div class="contenido">
        {% block contenido %}
        <!-- Contenido de cada pagina -->
        {% endblock %}
    </div>

    <footer>
        <p>&copy; 2024 Top 100 de Música. Todos los derechos reservados.</p>
    </footer>

</body>
</html>
