{% extends 'base.html' %}
{% load i18n %}

{% block javascript %}
    {% load static %}
    <script src="{% static 'js/validar.js' %}"></script>
{% endblock %}

{% block titulo %}{% trans "Formulario de Canciones" %}{% endblock %}

{% block contenido %}
<h2>{% trans "Formulario para votar cancion" %}</h2>

<section class="formulario">

<form id="formularioCanciones" method="POST" action="{% url 'registrar_votos' %}" onreset="borrarWarn()" onsubmit="return validarForm()">
    {% csrf_token %}

    <p>{% trans "Selecciona la cancion que quieres votar" %}</p>
    
    <fieldset>
        <legend>{% trans "Canciones disponibles" %}</legend>
        <label for="canciones">{% trans "Elige:" %}</label><br>
        <select id="canciones" name="canciones" size="10">
            {% for cancion in canciones %}
                <option value="{{ cancion.id }}">{{ cancion.titulo }} - {{ cancion.interprete.nombre }} ({% trans 'Ranking' %}: {{ cancion.ranking }})</option>
            {% endfor %}
        </select>
    </fieldset>

    <p>
        <input type="submit" value="{% trans 'Enviar' %}" />
        <input type="reset" value="{% trans 'Borrar' %}" />
    </p>
</form>
</section>

<section class="rankingVotos">
<!-- Lista de canciones ordenadas por votos -->
<h2>Ranking</h2>
<ul>
    {% for cancion in top_canciones_voto %}
        <li class="rank-item">
            <strong>TOP {{ forloop.counter }}:</strong><a href="{% url 'detalles_cancion' cancion.id %}"> {{ cancion.titulo }}</a> - {{ cancion.estilo.nombre }} 
            ({% trans "Total de votos" %}: {{ cancion.total_votos }})
        </li>
    {% endfor %}
</ul>
</section>

{% endblock %}
