{% extends 'base_listas.html' %}

<!-- Para mostrar la lista de canciones-->


{% load static %}

{% block titulo %}Lista de Canciones{% endblock %}

{% block banner %}
<div class="banner-content">
    <img src="{% static 'images/canciones_banner.jpg' %}" alt="Banner de Canciones" class="banner-image">
        <div class="banner-overlay">
            <h2>Encuentra tus Canciones Favoritas</h2>
            <p>Explora las mejores Canciones de cualquier genero</p>
            <a href="https://www.youtube.com/watch?v=9Jlb28cIrDk" class="button" target="_blank">Descubre más</a>
        </div>
</div>
{% endblock %}

<!-- Cada cancion la mostramos a traves de un bucle-->



{% block contenido_principal %}
    <h2>Lista de Canciones</h2>
    <ul>
        {% for cancion in canciones %}
            <li>
                <a href="{% url 'detalles_cancion' cancion.id %}">
                    {{ cancion.titulo }}
                </a> - {{ cancion.interprete.nombre }} (Ranking Global: {{ cancion.ranking }})
            </li>
        {% endfor %}
    </ul>
{% endblock %}